<div>
  <div class="window-header clearfix">
    <span class="window-header-icon icon-lg icon-rocket"></span>
    <div class="window-title">
      <h2 class="window-title-text">Steroids</h2>
      <span class="quiet js-power-up-count">2 enabled</span>
    </div>
  </div>
  <div class="power-up-list js-power-up-list">
    <div class="power-up-icon js-power-up-detail" domflag>
      <a href="#" data-power-up-name="voting" class="power-up-icon-image-wrapper js-power-up-name">
        <span class="power-up-icon-image"></span>
      </a>
      <div class="power-up-icon-title-section clearfix">
        <h3 class="power-up-icon-title">Voting</h3>
        <span class="power-up-icon-enabled-badge hide js-enabled-badge"> Enabled <span class="power-up-icon-enabled-badge-icon icon-sm icon-check"></span> </span>
      </div>
      <p class="power-up-icon-description"> Allow people to vote on cards. </p>
      <p class="quiet underline"> Click for details… </p>
    </div>
    <div class="power-up-icon js-power-up-detail">
      <a href="#" data-power-up-name="cardAging" class="power-up-icon-image-wrapper js-power-up-name">
        <span class="power-up-icon-image power-up-icon-image-card-aging"></span> </a>
      <div class="power-up-icon-title-section clearfix">
        <h3 class="power-up-icon-title"> Card Aging </h3>
        <span class="power-up-icon-enabled-badge js-enabled-badge"> Enabled <span class="power-up-icon-enabled-badge-icon icon-sm icon-check"></span> </span>
      </div>
      <p class="power-up-icon-description"> Cards visibly age with inactivity. </p>
      <p class="quiet underline"> Click for details… </p>
    </div>
    <div class="power-up-icon js-power-up-detail">
      <a href="#" data-power-up-name="calendar" class="power-up-icon-image-wrapper js-power-up-name">
        <span class="power-up-icon-image power-up-icon-image-calendar"></span> </a>
      <div class="power-up-icon-title-section clearfix">
        <h3 class="power-up-icon-title"> Calendar </h3>
        <span class="power-up-icon-enabled-badge js-enabled-badge"> Enabled <span class="power-up-icon-enabled-badge-icon icon-sm icon-check"></span> </span>
      </div>
      <p class="power-up-icon-description"> See your cards with due dates on a calendar. </p>
      <p class="quiet underline"> Click for details… </p>
    </div>
  </div>
</div>
