.ytp-button.ytp-button-ytlooper {
  color: #808080;
  float: right !important;
  width: 30px;
  height: 27px;
  padding-top: 7px !important;
  text-align: center;
}

.ytp-button.ytp-button-ytlooper:hover {
  color: #aaa;
}

.ytp-ab-looper-progress {
  background: rgba(6, 255, 0, 0.35) !important;
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  left: 0;
  bottom: 0;
  z-index: 1000 !important;
  transform-origin: 0 0 !important;
  -webkit-transform-origin: 0 0 !important;
}
