<div class="ytp-menu-container ytl-dialog" tabindex="-1" role="menu" aria-labelledby="youtube_looper_button" aria-hidden="true">
  <div class="ytp-menu">
    <div class="ytp-menu-content">
      <div class="ytp-menu-row">
        <div class="ytp-menu-cell ytp-menu-title">Entire Music</div>
        <div class="ytp-menu-cell ytl-loop-time">00:20 - 03:50</div>
        <div class="ytp-menu-cell ytl-loop-close">X</div>
      </div>
      <div class="ytp-menu-row">
        <div class="ytp-menu-cell ytp-menu-title">Solo</div>
        <div class="ytp-menu-cell ytl-loop-time">02:20 - 02:48</div>
        <div class="ytp-menu-cell ytl-loop-close">X</div>
      </div>
    </div>
  </div>
</div>
