<div class="ytp-menu-container ytl-dialog" tabindex="-1" role="menu" aria-labelledby="youtube_looper_button" aria-hidden="true">
  <div class="ytp-menu">
    <div class="ytp-menu-content">
      <div class="ytp-menu-row">
        <a href="#" class="ytp-menu-cell ytp-menu-title">Entire Music</a>
        <a href="#" class="ytp-menu-cell ytl-loop-time">00:20 - 03:50</a>
        <a href="#" class="ytp-menu-cell ytl-loop-close">X</a>
      </div>
      <div class="ytp-menu-row ytl-loop-disable">
        <a href="#">Disable loop</a>
      </div>
    </div>
  </div>
</div>
