<div class="ytp-menu-container ytl-dialog" tabindex="-1" role="menu" aria-labelledby="youtube_looper_button" aria-hidden="true">
  <div class="ytp-menu">
    <div class="ytp-menu-content">
      <div class="ytp-menu-row">
        <a href="#" class="ytp-menu-cell ytp-menu-title">Entire Music</a>
        <a href="#" class="ytp-menu-cell ytl-loop-time">00:20 - 03:50</a>
        <a href="#" class="ytp-menu-cell ytl-loop-close">X</a>
      </div>
      <div class="ytp-menu-row ytl-new-loop">
        <div class="ytp-menu-cell ytp-menu-title">@@new-loop@@</div>
        <div class="ytp-menu-cell">
          <input type="text" name="start">
          <input type="text" name="finish">
        </div>
        <a href="#" class="ytp-menu-cell">&#10003;</a>
      </div>
      <div class="ytp-menu-row ytl-loop-disable">
        <a href="#">@@disable-loop@@</a>
      </div>
    </div>
  </div>
</div>
